apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-svc
  labels:
    {{- include "oai-nrf.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http1
      # Port accessible outside cluster
      port: {{ .Values.service.http1Port }}
      # Port to forward to inside the pod
      targetPort: {{ .Values.service.http1Port }}
      protocol: TCP
    - name: http2
      # Port accessible outside cluster
      port: {{ .Values.service.http2Port }}
      # Port to forward to inside the pod
      targetPort: {{ .Values.service.http2Port }}
      protocol: TCP
      #
  selector:
    {{- include "oai-nrf.selectorLabels" . | nindent 4 }}
